<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.RuntimeWorkbench">
    <setAttribute key="additional_plugins">
        <setEntry value="org.apache.felix.scr:2.2.12:default:true:2:true"/>
        <setEntry value="org.eclipse.core.runtime:3.32.0.v20241003-0436:default:true:default:true"/>
        <setEntry value="org.eclipse.equinox.common:3.19.200.v20241004-0654:default:true:2:true"/>
        <setEntry value="org.eclipse.equinox.event:1.7.100.v20240321-1445:default:true:2:true"/>
        <setEntry value="org.eclipse.equinox.p2.reconciler.dropins:1.5.400.v20240321-1450:default:true:default:true"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator:1.5.300.v20240424-1301:default:true:1:true"/>
    </setAttribute>
    <booleanAttribute key="append.args" value="true"/>
    <stringAttribute key="application" value="com.archimatetool.editor.app"/>
    <booleanAttribute key="askclear" value="true"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticIncludeRequirements" value="true"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="false"/>
    <booleanAttribute key="clearwslog" value="false"/>
    <stringAttribute key="configLocation" value="/home/jan/snap/eclipse-pde/current/archi-tmp"/>
    <booleanAttribute key="default" value="false"/>
    <stringAttribute key="featureDefaultLocation" value="workspace"/>
    <stringAttribute key="featurePluginResolution" value="workspace"/>
    <booleanAttribute key="includeOptional" value="false"/>
    <stringAttribute key="location" value="${workspace_loc}/runtime-archi.product"/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="PATH" value="/snap/eclipse-pde/current/usr/sbin:/snap/eclipse-pde/current/usr/bin:/snap/eclipse-pde/current/sbin:/snap/eclipse-pde/current/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/eclipse-pde/current/gnome-platform/usr/bin"/>
    </mapAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JAVA_COMMAND" value="java"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -cleanConfig --launcher.defaultAction openFile -eclipse.keyring @user.home/.archi/secure_storage"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true -Dosgi.requiredJavaVersion=17 -Dfile.encoding=UTF-8 -Declipse.p2.data.area=@config.dir/p2 -Ddata.location=@user.home/Documents/Archi --add-modules=ALL-SYSTEM -Dosgi.instance.area=@user.home/.archi -Dosgi.configuration.area=@user.home/.archi/config -Dorg.eclipse.equinox.p2.reconciler.dropins.directory=%user.home%/.archi/dropins"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <stringAttribute key="product" value="com.archimatetool.editor.product"/>
    <stringAttribute key="productFile" value="/com.archimatetool.editor.product/archi.product"/>
    <stringAttribute key="productId" value="com.archimatetool.editor.product"/>
    <stringAttribute key="productName" value="Archi"/>
    <stringAttribute key="productVersion" value="5.5.0.qualifier"/>
    <setAttribute key="root_features">
        <setEntry value="org.archicontribs.modelrepository.feature"/>
    </setAttribute>
    <setAttribute key="selected_features">
        <setEntry value="com.archimatetool.editor.feature:default"/>
        <setEntry value="com.archimatetool.gef.feature:default"/>
        <setEntry value="org.archicontribs.modelrepository.feature:default"/>
        <setEntry value="org.eclipse.e4.rcp:default"/>
        <setEntry value="org.eclipse.ecf.core.feature:default"/>
        <setEntry value="org.eclipse.ecf.core.ssl.feature:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer.feature:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer.httpclient5.feature:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer.httpclientjava.feature:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer.ssl.feature:default"/>
        <setEntry value="org.eclipse.emf.common:default"/>
        <setEntry value="org.eclipse.emf.ecore:default"/>
        <setEntry value="org.eclipse.equinox.p2.core.feature:default"/>
        <setEntry value="org.eclipse.equinox.p2.extras.feature:default"/>
        <setEntry value="org.eclipse.help:default"/>
        <setEntry value="org.eclipse.jgit.ssh.apache:default"/>
        <setEntry value="org.eclipse.jgit:default"/>
        <setEntry value="org.eclipse.rcp:default"/>
    </setAttribute>
    <setAttribute key="selected_target_bundles">
        <setEntry value="org.apache.commons.commons-codec@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@2:true"/>
        <setEntry value="org.apache.httpcomponents.client5.httpclient5@default:default"/>
        <setEntry value="org.apache.httpcomponents.core5.httpcore5-h2@default:default"/>
        <setEntry value="org.apache.httpcomponents.core5.httpcore5@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.beans@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.net@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.e4.core.commands@default:default"/>
        <setEntry value="org.eclipse.e4.core.contexts@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.annotations@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions.supplier@default:default"/>
        <setEntry value="org.eclipse.e4.core.di.extensions@default:default"/>
        <setEntry value="org.eclipse.e4.core.di@default:default"/>
        <setEntry value="org.eclipse.e4.core.services@default:default"/>
        <setEntry value="org.eclipse.e4.emf.xpath@default:default"/>
        <setEntry value="org.eclipse.e4.ui.bindings@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.core@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt.theme@default:default"/>
        <setEntry value="org.eclipse.e4.ui.css.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.di@default:default"/>
        <setEntry value="org.eclipse.e4.ui.dialogs@default:default"/>
        <setEntry value="org.eclipse.e4.ui.model.workbench@default:default"/>
        <setEntry value="org.eclipse.e4.ui.progress@default:default"/>
        <setEntry value="org.eclipse.e4.ui.services@default:default"/>
        <setEntry value="org.eclipse.e4.ui.swt.gtk@default:default"/>
        <setEntry value="org.eclipse.e4.ui.widgets@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.addons.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.renderers.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench.swt@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench3@default:default"/>
        <setEntry value="org.eclipse.e4.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.ecf.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf.identity@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.httpclient5@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.httpclientjava@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.ssl@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf.ssl@default:default"/>
        <setEntry value="org.eclipse.ecf@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.compare@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.bidi@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.concurrent@default:default"/>
        <setEntry value="org.eclipse.equinox.console@default:default"/>
        <setEntry value="org.eclipse.equinox.event@2:true"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin.equinox@default:default"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin@default:default"/>
        <setEntry value="org.eclipse.equinox.http.jetty@default:default"/>
        <setEntry value="org.eclipse.equinox.http.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.http.servlet@default:default"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper@default:default"/>
        <setEntry value="org.eclipse.equinox.launcher.gtk.linux.x86_64@default:default"/>
        <setEntry value="org.eclipse.equinox.launcher@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.artifact.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.console@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.core@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.director.app@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.director@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.directorywatcher@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.engine@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.extensionlocation@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.garbagecollector@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.jarprocessor@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.operations@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.publisher.eclipse@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.publisher@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.reconciler.dropins@default:true"/>
        <setEntry value="org.eclipse.equinox.p2.repository.tools@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.eclipse@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.touchpoint.natives@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.transport.ecf@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.security.linux@default:default"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator.manipulator@default:default"/>
        <setEntry value="org.eclipse.equinox.simpleconfigurator@1:true"/>
        <setEntry value="org.eclipse.help.base@default:default"/>
        <setEntry value="org.eclipse.help.ui@default:default"/>
        <setEntry value="org.eclipse.help.webapp@default:default"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.jface.notifications@default:default"/>
        <setEntry value="org.eclipse.jface@default:default"/>
        <setEntry value="org.eclipse.jgit.archive@default:default"/>
        <setEntry value="org.eclipse.jgit.ssh.apache.agent@default:default"/>
        <setEntry value="org.eclipse.jgit.ssh.apache@default:default"/>
        <setEntry value="org.eclipse.jgit@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@default:default"/>
        <setEntry value="org.eclipse.rcp@default:default"/>
        <setEntry value="org.eclipse.swt.gtk.linux.x86_64@default:default"/>
        <setEntry value="org.eclipse.swt@default:default"/>
        <setEntry value="org.eclipse.ui.workbench@default:default"/>
        <setEntry value="org.eclipse.ui@default:default"/>
        <setEntry value="org.eclipse.update.configurator@default:default"/>
        <setEntry value="org.eclipse.urischeme@default:default"/>
        <setEntry value="org.osgi.service.cm@default:default"/>
        <setEntry value="org.osgi.service.component@default:default"/>
        <setEntry value="org.osgi.service.device@default:default"/>
        <setEntry value="org.osgi.service.event@default:default"/>
        <setEntry value="org.osgi.service.metatype@default:default"/>
        <setEntry value="org.osgi.service.prefs@default:default"/>
        <setEntry value="org.osgi.service.provisioning@default:default"/>
        <setEntry value="org.osgi.service.upnp@default:default"/>
        <setEntry value="org.osgi.service.useradmin@default:default"/>
        <setEntry value="org.osgi.service.wireadmin@default:default"/>
        <setEntry value="org.osgi.util.function@default:default"/>
        <setEntry value="org.osgi.util.measurement@default:default"/>
        <setEntry value="org.osgi.util.position@default:default"/>
        <setEntry value="org.osgi.util.promise@default:default"/>
        <setEntry value="org.osgi.util.xml@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="com.archimatetool.canvas@default:default"/>
        <setEntry value="com.archimatetool.commandline@default:default"/>
        <setEntry value="com.archimatetool.csv.commandline@default:default"/>
        <setEntry value="com.archimatetool.csv@default:default"/>
        <setEntry value="com.archimatetool.editor.browser@default:default"/>
        <setEntry value="com.archimatetool.editor.themes@default:default"/>
        <setEntry value="com.archimatetool.editor@default:default"/>
        <setEntry value="com.archimatetool.export.svg@default:default"/>
        <setEntry value="com.archimatetool.hammer@default:default"/>
        <setEntry value="com.archimatetool.help@default:default"/>
        <setEntry value="com.archimatetool.jasperreports.commandline@default:default"/>
        <setEntry value="com.archimatetool.jasperreports@default:default"/>
        <setEntry value="com.archimatetool.jdom@default:default"/>
        <setEntry value="com.archimatetool.model@default:default"/>
        <setEntry value="com.archimatetool.modelimporter.commandline@default:default"/>
        <setEntry value="com.archimatetool.modelimporter@default:default"/>
        <setEntry value="com.archimatetool.reports.commandline@default:default"/>
        <setEntry value="com.archimatetool.reports@default:default"/>
        <setEntry value="com.archimatetool.templates@default:default"/>
        <setEntry value="com.archimatetool.widgets@default:default"/>
        <setEntry value="com.archimatetool.zest@default:default"/>
        <setEntry value="org.archicontribs.modelrepository.commandline@default:default"/>
        <setEntry value="org.archicontribs.modelrepository@default:default"/>
        <setEntry value="org.eclipse.draw2d@default:default"/>
        <setEntry value="org.eclipse.gef@default:default"/>
        <setEntry value="org.eclipse.zest.core@default:default"/>
        <setEntry value="org.eclipse.zest.layouts@default:default"/>
        <setEntry value="org.opengroup.archimate.xmlexchange.commandline@default:default"/>
        <setEntry value="org.opengroup.archimate.xmlexchange@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="true"/>
    <booleanAttribute key="useDefaultConfig" value="true"/>
    <booleanAttribute key="useDefaultConfigArea" value="false"/>
    <booleanAttribute key="useProduct" value="true"/>
</launchConfiguration>
