<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.archicontribs.modelrepository.actions.ShowRepositoryViewHandler"
            id="org.archicontribs.modelrepository.command.showRepositoryView"
            name="Show Model Repository View">
      </command>
      <command
            defaultHandler="org.archicontribs.modelrepository.actions.ShowHistoryViewHandler"
            id="org.archicontribs.modelrepository.command.showHistoryView"
            name="Show Repository History View">
      </command>
      <command
            defaultHandler="org.archicontribs.modelrepository.actions.CreateRepoFromModelHandler"
            id="org.archicontribs.modelrepository.command.createRepoFromModel"
            name="Create Repository from Selected Model">
      </command>
      <command
            defaultHandler="org.archicontribs.modelrepository.actions.CloneModelHandler"
            id="org.archicontribs.modelrepository.command.cloneModel"
            name="Clone Model">
      </command>
      <command
            defaultHandler="org.archicontribs.modelrepository.actions.RefreshModelHandler"
            id="org.archicontribs.modelrepository.command.refreshModel"
            name="Refresh Model">
      </command>
      <command
            defaultHandler="org.archicontribs.modelrepository.actions.CommitModelHandler"
            id="org.archicontribs.modelrepository.command.commitModel"
            name="Commit Changes">
      </command>
      <command
            defaultHandler="org.archicontribs.modelrepository.actions.PushModelHandler"
            id="org.archicontribs.modelrepository.command.pushModel"
            name="Publish Changes">
      </command>
      <command
            defaultHandler="org.archicontribs.modelrepository.actions.AbortChangesHandler"
            id="org.archicontribs.modelrepository.command.abortChanges"
            name="Abort Unpublished Changes">
      </command>
      <command
            defaultHandler="org.archicontribs.modelrepository.actions.ShowInHistoryViewHandler"
            id="org.archicontribs.modelrepository.command.showInHistoryView"
            name="Show in History">
      </command>
      <command
            defaultHandler="org.archicontribs.modelrepository.actions.ShowInRepositoryViewHandler"
            id="org.archicontribs.modelrepository.command.showInRepositoryView"
            name="Show in Model Repository">
      </command>
      <command
            defaultHandler="org.archicontribs.modelrepository.actions.DeleteModelHandler"
            id="org.archicontribs.modelrepository.command.deleteModel"
            name="Delete Local Copy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=com.archimatetool.hammer.menuitem.showValidatorView">
         <command
               commandId="org.archicontribs.modelrepository.command.showRepositoryView"
               icon="img/plugin.png"
               id="org.archicontribs.modelrepository.menuitem.showRepositoryView"
               label="%model_repository"
               style="push">
         </command>
         <command
               commandId="org.archicontribs.modelrepository.command.showHistoryView"
               icon="img/history_view.png"
               id="org.archicontribs.modelrepository.menuitem.showHistoryView"
               label="%history_repository"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:toolbar_views?after=com.archimatetool.hammer.toolbaritem.showValidatorView">
         <command
               commandId="org.archicontribs.modelrepository.command.showRepositoryView"
               icon="img/plugin.png"
               id="org.archicontribs.modelrepository.toolbaritem.showRepositoryView"
               label="%model_repository"
               style="push">
         </command>
         <command
               commandId="org.archicontribs.modelrepository.command.showHistoryView"
               icon="img/history_view.png"
               id="org.arpopup:com.archimatetool.editor.treeModelView?after=com.archimatetool.hammer.popupmenu.validatesitory"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:com.archimatetool.editor.treeModelView?before=start_properties">
         <menu
               id="org.archicontribs.modelrepository.menu"
               label="Repository">
            <separator
                  name="org.archicontribs.modelrepository.popup.start"
                  visible="true">
            </separator>
            <command
                  commandId="org.archicontribs.modelrepository.command.createRepoFromModel"
                  icon="img/createRepository.png"
                  id="org.archicontribs.modelrepository.popupmenu.createRepoFromModel"
                  label="Create Repository from Selected Model"
                  style="push">
            </command>
            <separator
                  name="org.archicontribs.modelrepository.popup.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.archicontribs.modelrepository.command.refreshModel"
                  icon="img/pull.png"
                  label="Refresh Local Copy"
                  style="push">
            </command>
            <command
                  commandId="org.archicontribs.modelrepository.command.commitModel"
                  icon="img/commit.png"
                  label="Commit Changes"
                  style="push">
            </command>
            <command
                  commandId="org.archicontribs.modelrepository.command.pushModel"
                  icon="img/push.png"
                  label="Publish Changes"
                  style="push">
            </command>
            <separator
                  name="org.archicontribs.modelrepository.popup.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.archicontribs.modelrepository.command.deleteModel"
                  icon="img/delete.png"
                  label="Delete Local Copy"
                  style="push">
            </command>
            <command
                  commandId="org.archicontribs.modelrepository.command.abortChanges"
                  icon="img/abort.png"
                  label="Abort Unpublished Changes"
                  style="push">
            </command>
            <separator
                  name="org.archicontribs.modelrepository.popup.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.archicontribs.modelrepository.command.showInHistoryView"
                  icon="img/history_view.png"
                  label="Show in History"
                  style="push">
            </command>
            <command
                  commandId="org.archicontribs.modelrepository.command.showInRepositoryView"
                  icon="img/plugin.png"
                  label="Show in Model Repository"
                  style="push">
            </command>
            <separator
                  name="org.archicontribs.modelrepository.popup.end"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=tools">
         <menu
               id="repository"
               label="Repository">
            <command
                  commandId="org.archicontribs.modelrepository.command.cloneModel"
                  icon="img/add_obj.png"
                  label="Add Remote Model"
                  style="push">
            </command>
            <command
                  commandId="org.archicontribs.modelrepository.command.createRepoFromModel"
                  icon="img/createRepository.png"
                  label="Create Repository from Selected Model"
                  style="push">
            </command>
            <separator
                  name="org.archicontribs.modelrepository.menu.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.archicontribs.modelrepository.command.refreshModel"
                  icon="img/pull.png"
                  label="Refresh Local Copy"
                  style="push">
            </command>
            <command
                  commandId="org.archicontribs.modelrepository.command.commitModel"
                  icon="img/commit.png"
                  label="Commit Changes"
                  style="push">
            </command>
            <command
                  commandId="org.archicontribs.modelrepository.command.pushModel"
                  icon="img/push.png"
                  label="Publish Changes"
                  style="push">
            </command>
            <separator
                  name="org.archicontribs.modelrepository.menu.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.archicontribs.modelrepository.command.deleteModel"
                  icon="img/delete.png"
                  label="Delete Local Copy"
                  style="push">
            </command>
            <command
                  commandId="org.archicontribs.modelrepository.command.abortChanges"
                  icon="img/abort.png"
                  label="Abort Unpublished Changes"
                  style="push">
            </command>
            <separator
                  name="org.archicontribs.modelrepository.menu.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.archicontribs.modelrepository.command.showInHistoryView"
                  icon="img/history_view.png"
                  label="Show in History"
                  style="push">
            </command>
            <command
                  commandId="org.archicontribs.modelrepository.command.showInRepositoryView"
                  icon="img/plugin.png"
                  label="Show in Model Repository"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=toolbar_views">
         <toolbar
               id="org.archicontribs.modelrepository.toolbar">
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.archicontribs.modelrepository.views.repositories.ModelRepositoryView"
            icon="img/plugin.png"
            id="org.archicontribs.modelrepository.modelRepositoryView"
            name="%model_repository"
            restorable="true">
      </view>
      <view
            class="org.archicontribs.modelrepository.views.history.HistoryView"
            icon="img/history_view.png"
            id="org.archicontribs.modelrepository.historyView"
            name="%history_repository"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.archicontribs.modelrepository.modelRepositoryView"
               minimized="false"
               relationship="stack"
               relative="com.archimatetool.help.hintsView">
         </view>
         <view
               id="org.archicontribs.modelrepository.historyView"
               minimized="false"
               relationship="stack"
               relative="com.archimatetool.zest.zestView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.archicontribs.modelrepository.Startup"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.archicontribs.modelrepository.preferences.ModelRepositoryPreferencePage"
            id="org.archicontribs.modelrepository.preferences.ModelRepositoryPreferencePage"
            name="%info">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.archicontribs.modelrepository.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.archicontribs.modelrepository">
         <propertyCategory
               category="main.category"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.archicontribs.modelrepository">
         <propertyTab
               category="main.category"
               id="info.tab"
               label="%info">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.archicontribs.modelrepository">
         <propertySection
               class="org.archicontribs.modelrepository.propertysections.RepoInfoSection"
               filter="org.archicontribs.modelrepository.propertysections.RepoInfoSection$Filter"
               id="infoSection"
               tab="info.tab">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
