<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.archicontribs.modelrepository.ShowRepositoryViewHandler"
            id="org.archicontribs.modelrepository.command.showRepositoryView"
            name="%command.name">
      </command>
      <command
            defaultHandler="org.archicontribs.modelrepository.ShowHistoryViewHandler"
            id="org.archicontribs.modelrepository.command.showHistoryView"
            name="Repository History">
      </command>
      <command
            defaultHandler="org.archicontribs.modelrepository.CreateRepoFromModelHandler"
            id="org.archicontribs.modelrepository.command.createRepoFromModel"
            name="Create Repository from Selected Model">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=com.archimatetool.hammer.menuitem.showValidatorView">
         <command
               commandId="org.archicontribs.modelrepository.command.showRepositoryView"
               icon="img/plugin.png"
               id="org.archicontribs.modelrepository.menuitem.showRepositoryView"
               label="%command.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:toolbar_views?after=com.archimatetool.hammer.toolbaritem.showValidatorView">
         <command
               commandId="org.archicontribs.modelrepository.command.showRepositoryView"
               icon="img/plugin.png"
               id="org.archicontribs.modelrepository.toolbaritem.showRepositoryView"
               label="%command.label.0"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=org.archicontribs.modelrepository.menuitem.showRepositoryView">
         <command
               commandId="org.archicontribs.modelrepository.command.showHistoryView"
               icon="img/history_view.png"
               id="org.archicontribs.modelrepository.menuitem.showHistoryView"
               label="Repository History"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:toolbar_views?after=org.archicontribs.modelrepository.toolbaritem.showRepositoryView">
         <command
               commandId="org.archicontribs.modelrepository.command.showHistoryView"
               icon="img/history_view.png"
               id="org.archicontribs.modelrepository.toolbaritem.showHistoryView"
               label="Repository History"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:com.archimatetool.editor.treeModelView?after=append_extensions">
         <command
               commandId="org.archicontribs.modelrepository.command.createRepoFromModel"
               id="org.archicontribs.modelrepository.popupmenu.createRepoFromModel"
               label="Create Repository from Selected Model..."
               style="push">
         </command>
         <separator
               name="org.archicontribs.modelrepository.popup.separator"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:tools?after=com.archimatetool.hammer.menuitem.validate">
         <command
               commandId="org.archicontribs.modelrepository.command.createRepoFromModel"
               label="Create Repository from Selected Model..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.archicontribs.modelrepository.views.repositories.ModelRepositoryView"
            icon="img/plugin.png"
            id="org.archicontribs.modelrepository.modelRepositoryView"
            name="%view.name"
            restorable="true">
      </view>
      <view
            class="org.archicontribs.modelrepository.views.history.HistoryView"
            icon="img/history_view.png"
            id="org.archicontribs.modelrepository.historyView"
            name="Repository History"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.archicontribs.modelrepository.modelRepositoryView"
               minimized="false"
               relationship="stack"
               relative="com.archimatetool.help.hintsView">
         </view>
         <view
               id="org.archicontribs.modelrepository.historyView"
               minimized="false"
               relationship="stack"
               relative="com.archimatetool.zest.zestView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.archicontribs.modelrepository.Startup"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.archicontribs.modelrepository.preferences.ModelRepositoryPreferencePage"
            id="org.archicontribs.modelrepository.preferences.ModelRepositoryPreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.archicontribs.modelrepository.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.archicontribs.modelrepository">
         <propertyCategory
               category="main.category"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.archicontribs.modelrepository">
         <propertyTab
               category="main.category"
               id="info.tab"
               label="%propertyTab.label">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.archicontribs.modelrepository">
         <propertySection
               class="org.archicontribs.modelrepository.propertysections.RepoInfoSection"
               filter="org.archicontribs.modelrepository.propertysections.RepoInfoSection$Filter"
               id="infoSection"
               tab="info.tab">
         </propertySection>
      </propertySections>
   </extension>

</plugin>
