<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.archimatetool.commandline.commandlineProvider">
      <commandlineProvider
            class="org.archicontribs.modelrepository.commandline.LoadModelFromRepositoryProvider"
            description="Load and/or clone from a local or online collaboration repository and set to the current model"
            id="org.archicontribs.modelrepository.commandlineCloneModel"
            name="Load &amp; Clone Collaboration Model">
      </commandlineProvider>
   </extension>
   <extension
         point="com.archimatetool.commandline.commandlineProvider">
      <commandlineProvider
            class="org.archicontribs.modelrepository.commandline.SaveModelToRepositoryProvider"
            description="Save the currently set model to a local collaboration repository"
            id="org.archicontribs.modelrepository.commandlineSaveModelToRepository"
            name="Save Collaboration Model">
      </commandlineProvider>
   </extension>

</plugin>
